name: mahabhulekh_webview_app
description: Mahabhulekh (Maharashtra) WebView app template for 7/12 and 8A extracts with polished UI.
publish_to: "none"
version: 1.0.0+1
environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  webview_flutter: ^4.0.1
  url_launcher: ^6.1.7
  share_plus: ^6.3.0

flutter:
  uses-material-design: true
  assets:
    - assets/logo.png
